<p>hello works!</p>
<div style="text-align:center">
    <h1>
        Welcome to
    </h1>
    <img width="300" alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div>
    <form action="http://localhost:8091/getsomething">
        <label>帳號</label>
        <input type="text" name="name"><br>
        <label>密碼</label>
        <input type="text" name="password"> <br>
        <input type="submit"><br>
    </form>
</div>

<br>
<br>

<div>

    <button (click)="getHello()">Get Hello</button> <!-- 取得{{hello}}顯示的內容-->
    <button (click)="clear()">Clear</button> <!-- 清除{{hello}}顯示的內容 -->
</div>
<hr>
<h1>{{hello}}</h1>